 /* 글자폰트 전체적용 */
 *   {
    font-family: 'Noto Sans KR', sans-serif;
}
/* .은 클래스 */
.wrap {
    color: white;
    background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");
    background-color: tomato;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    text-align: center;
}
.container {
    width: 300px;
    margin: 0 auto;
}